 <!-- ======= last news & traveler say  ======= -->
<section class="padding-top-100px padding-bottom-65px background-light-grey">
    <div class="container">
        <div class="row">
            <!-- Last News -->
            <div class="col-lg-6">
                <div class="section-title section-title-left">
                    <h1 class="title"><span>Last  </span> News</h1>
                    <span class="section-title-des">Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elitdunt</span>
                </div>

                <div class="news-cart background-white border border-grey margin-bottom-35px">
                    <div class="float-sm-left margin-right-30px">
                        <img src="~/Content/demo-img/news-1.jpg" alt="">
                    </div>
                    <div class="padding-20px">
                        <a href="#" class="d-block text-dark text-uppercase text-up-small margin-bottom-15px font-weight-700">Long Established Fact That A Reader Will Be Distracted By The Readable Content </a>
                        <span class="margin-right-20px text-extra-small">By : <a href="#" class="text-main-color">Rabie Elkheir</a></span>
                        <span class="text-extra-small">Date :  <a href="#" class="text-main-color">July 15, 2016</a></span>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="news-cart background-white border border-grey margin-bottom-35px">
                    <div class="float-sm-left margin-right-30px">
                        <img src="~/Content/demo-img/news-2.jpg" alt="">
                    </div>
                    <div class="padding-20px">
                        <a href="#" class="d-block text-dark text-uppercase text-up-small margin-bottom-15px font-weight-700">Long Mauris fermentum porta sem, non hendrerit enim bibendum consectetur </a>
                        <span class="margin-right-20px text-extra-small">By : <a href="#" class="text-main-color">Rabie Elkheir</a></span>
                        <span class="text-extra-small">Date :  <a href="#" class="text-main-color">July 15, 2016</a></span>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
            <!-- // Last News -->
            <!-- Traveler say -->
            <div class="col-lg-6 travelers-say-in">
                <div class="section-title section-title-left">
                    <h1 class="title"><span>Traveler </span> say</h1>
                    <span class="section-title-des">Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elitdunt</span>
                </div>

                <ul class="travelers-say margin-0px padding-0px list-unstyled" data-slider-id="1">

                    <li class="padding-30px background-white border border-grey-1">
                        <div class="header-say">
                            <div class="sayer-img float-left margin-right-20px"><img src="~/Content/demo-img/testimonials-1.jpg" alt=""></div>
                            <h5 class="text-medium text-dark text-uppercase margin-bottom-0px margin-top-8px">Rabie Elkheir</h5>
                            <i class="text-extra-small">Travel to <span class="text-main-color">Turkey</span></i>
                            <div class="clearfix"></div>
                        </div>
                        <i class="d-block margin-tb-20px text-medium text-grey-4">Mauris fermentum porta sem, non hendrerit enim bibendum consectetur. Fusce diam est, porttitor vehicula gravida at, accumsan bibendum tincidunt imperdiet. </i>
                    </li>


                    <li class="padding-30px background-white border border-grey-1">
                        <div class="header-say">
                            <div class="sayer-img float-left margin-right-20px"><img src="~/Content/demo-img/testimonial-2.png" alt=""></div>
                            <h5 class="text-medium text-dark text-uppercase margin-bottom-0px margin-top-8px">Rabie Elkheir</h5>
                            <i class="text-extra-small">Travel to <span class="text-main-color">Turkey</span></i>
                            <div class="clearfix"></div>
                        </div>
                        <i class="d-block margin-tb-20px text-medium text-grey-4">Mauris fermentum porta sem, non hendrerit enim bibendum consectetur. Fusce diam est, porttitor vehicula gravida at, accumsan bibendum tincidunt imperdiet. </i>
                    </li>


                    <li class="padding-30px background-white border border-grey-1">
                        <div class="header-say">
                            <div class="sayer-img float-left margin-right-20px"><img src="~/Content/demo-img/testimonial-3.png" alt=""></div>
                            <h5 class="text-medium text-dark text-uppercase margin-bottom-0px margin-top-8px">Rabie Elkheir</h5>
                            <i class="text-extra-small">Travel to <span class="text-main-color">Turkey</span></i>
                            <div class="clearfix"></div>
                        </div>
                        <i class="d-block margin-tb-20px text-medium text-grey-4">Mauris fermentum porta sem, non hendrerit enim bibendum consectetur. Fusce diam est, porttitor vehicula gravida at, accumsan bibendum tincidunt imperdiet. </i>
                    </li>


                    <li class="padding-30px background-white border border-grey-1">
                        <div class="header-say">
                            <div class="sayer-img float-left margin-right-20px"><img src="~/Content/demo-img/testimonial-4.png" alt=""></div>
                            <h5 class="text-medium text-dark text-uppercase margin-bottom-0px margin-top-8px">Rabie Elkheir</h5>
                            <i class="text-extra-small">Travel to <span class="text-main-color">Turkey</span></i>
                            <div class="clearfix"></div>
                        </div>
                        <i class="d-block margin-tb-20px text-medium text-grey-4">Mauris fermentum porta sem, non hendrerit enim bibendum consectetur. Fusce diam est, porttitor vehicula gravida at, accumsan bibendum tincidunt imperdiet. </i>
                    </li>

                </ul>

            </div>
            <!-- // Traveler say -->
        </div>
    </div>
</section>
<!-- =======  end last news & Traveler say  ======= -->
<!-- =======  instgram feed  ======= -->
<div id="instgram-feed">
    <ul class="instagram-feed">
        <li><a href="#"><img src="~/Content/demo-img/instagram-9.jpg" alt=""></a></li>
        <li><a href="#"><img src="~/Content/demo-img/instagram-2.jpg" alt=""></a></li>
        <li><a href="#"><img src="~/Content/demo-img/instagram-3.jpg" alt=""></a></li>
        <li><a href="#"><img src="~/Content/demo-img/instagram-4.jpg" alt=""></a></li>
        <li><a href="#"><img src="~/Content/demo-img/instagram-5.jpg" alt=""></a></li>
        <li><a href="#"><img src="~/Content/demo-img/instagram-6.jpg" alt=""></a></li>
        <li><a href="#"><img src="~/Content/demo-img/instagram-7.jpg" alt=""></a></li>
        <li><a href="#"><img src="~/Content/demo-img/instagram-8.jpg" alt=""></a></li>
        <li><a href="#"><img src="~/Content/demo-img/instagram-9.jpg" alt=""></a></li>
        <li><a href="#"><img src="~/Content/demo-img/instagram-10.jpg" alt=""></a></li>
    </ul>
    <div class="clearfix"></div>
</div>
<!-- ======= end instgram feed  ======= -->
<!-- ======= footer  ======= -->
<footer class="text-center text-lg-left">
    <div class="container">
        <div class="row padding-tb-100px">
            <div class="col-lg-6 sm-mb-35px">
                <div class="about">
                    <div class="logo margin-bottom-20px"><a href="#"><img src="~/Content/images/logo.png" alt=""></a></div>
                    <p class="text-grey-2">
                        Mauris fermentum porta sem, non hendrerit enim bibendum consectetur. Fusce diam est, porttitor vehicula gravida at, accumsan bibendum tincidunt imperdiet. Maecenas quis magna faucibus, varius ante sit amet, varius augue. Praesent aliquam, a imperdiet lacus libero ac tellus. Nunc fringilla ullamcorper quam at lacinia.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 sm-mb-35px">
                <ul class="footer-menu row margin-0px padding-0px list-unstyled">
                    <li class="col-6  padding-tb-5px"><a href="#" class="text-main-color">Home</a></li>
                    <li class="col-6  padding-tb-5px"><a href="#" class="text-main-color">Featured</a></li>
                    <li class="col-6  padding-tb-5px"><a href="#" class="text-main-color">Feedback</a></li>
                    <li class="col-6  padding-tb-5px"><a href="#" class="text-main-color">Ask a Question</a></li>
                    <li class="col-6  padding-tb-5px"><a href="#" class="text-main-color">Team</a></li>
                    <li class="col-6  padding-tb-5px"><a href="#" class="text-main-color">Maintenance</a></li>
                    <li class="col-6  padding-tb-5px"><a href="#" class="text-main-color">Get a Quote</a></li>
                    <li class="col-6  padding-tb-5px"><a href="#" class="text-main-color">Contact Us</a></li>
                    <li class="col-6  padding-tb-5px"><a href="#" class="text-main-color">Alerts messages</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="images-feed row no-gutters margin-0px padding-0px list-unstyled">
                    <li class="col-4 padding-tb-5px"><a href="#" class="padding-lr-5px d-block"><img src="~/Content/demo-img/instagram-1.jpg" alt=""></a></li>
                    <li class="col-4 padding-tb-5px"><a href="#" class="padding-lr-5px d-block"><img src="~/Content/demo-img/instagram-2.jpg" alt=""></a></li>
                    <li class="col-4 padding-tb-5px"><a href="#" class="padding-lr-5px d-block"><img src="~/Content/demo-img/instagram-3.jpg" alt=""></a></li>
                    <li class="col-4 padding-tb-5px"><a href="#" class="padding-lr-5px d-block"><img src="~/Content/demo-img/instagram-4.jpg" alt=""></a></li>
                    <li class="col-4 padding-tb-5px"><a href="#" class="padding-lr-5px d-block"><img src="~/Content/demo-img/instagram-5.jpg" alt=""></a></li>
                    <li class="col-4 padding-tb-5px"><a href="#" class="padding-lr-5px d-block"><img src="~/Content/demo-img/instagram-6.jpg" alt=""></a></li>
                </ul>
            </div>
        </div>

        <div class="row padding-tb-30px border-top-1 border-grey-1">
            <div class="col-lg-4">
                <p class="text-lg-left"><span class="text-third-color">Travelz</span> |2017 All copy rights reserved</p>
            </div>
            <div class="col-lg-4 sm-mb-20px">
                <div class="text-center"><img src="~/Content/images/cards.png" alt=""></div>
            </div>
            <div class="col-lg-4">
                <ul class="social_link list-inline text-sm-center text-lg-right">
                    <li class="list-inline-item"><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a class="rss" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                </ul>
                <!-- // Social -->
            </div>
        </div>

    </div>

</footer>
<!-- ======= end footer  ======= -->
